<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title or "Mi sitio Flask" }}</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/modal.css') }}"
    />
  </head>
  <body class="bg-gray-100 text-gray-800 min-h-screen flex flex-col">
    {% include 'components/shared/navbar.html' %}

    <main class="flex-1 p-6">{% block content %}{% endblock %}</main>

    {% include 'components/shared/footer.html' %}
  </body>
</html>
